<template>
    <div class="table-wrapper table-responsive">
         <h3 class="text-center" style="font-size:22px">Supplier Name - {{ items.supplier_name }}</h3>
        <table class="table table-striped table-hover table-bordered">
            <b-thead>
            <tr>
                <b-th class="text-center">SL NO</b-th>
                <b-th class="text-center">Description</b-th>
                <b-th class="text-center">Specification Specified</b-th>
                <b-th class="text-center">Received Specification</b-th>
                <b-th class="text-center">Verify Status</b-th>
            </tr>
            </b-thead>
            <b-tbody>
            <template v-if="items.supplier_specification_details.length">
                <template v-for="(item, index) in items.supplier_specification_details">
                    <b-tr :key="index">
                        <b-td class="text-center">{{ index+1 }}</b-td>
                        <b-td class="text-left">{{ item.specification_item.s_description }}</b-td>
                        <b-td class="text-left">{{ item.specification_item.s_specified }}</b-td>
                        <b-td class="text-left">{{ item.received_specification }}</b-td>
                        <b-td class="text-left">{{ getVerifyStatus(item.verify_status) }}</b-td>
                    </b-tr>
                    <b-tr v-for="(childItem, childIndex) in item.childs" :key="childIndex">
                        <b-td v-if="childIndex === 0" class="text-center" :rowspan="item.childs.length"></b-td>
                        <b-td class="text-left">{{ (childIndex + 10).toString(36) }}) {{ childItem.specification_item.s_description }}</b-td>
                        <b-td class="text-left">{{ childItem.specification_item.s_specified }}</b-td>
                        <b-td class="text-left">{{ childItem.received_specification }}</b-td>
                        <b-td class="text-left">{{ getVerifyStatus(childItem.verify_status) }}</b-td>
                    </b-tr>
                </template>
            </template>
            </b-tbody>
        </table>
    </div>
</template>
<script>
export default {
    props: ['item'],
    components: {},
    data () {
        return {
        }
    },
    created () {
        this.items = this.item
    },
    methods: {
        getVerifyStatus (status) {
            if (status === 1) {
                return 'Fully Comply'
            } else if (status === 2) {
                return 'Partially Comply'
            } else {
                return 'Reject'
            }
        }
    }
}
</script>
<style scoped>
    .header {
        font-size: 17px;
    }
    .Personal {
        font-size: 25px;
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }
</style>
