<template>
      <div class="row" style="width: 75%;margin: auto; margin-top:25px">
          <div class="col-2" style="text-align: center;">
            <img src="@/assets/images/logo.png" class="img-fluid" alt="" style="width: 70px;">
          </div>
          <div class="col-8" style="text-align:center; margin-top: 10px;">
            <p style="font-weight: 600;font-size: 15px;margin-top: 5px;">Government of the People's Republic of Bangladesh</p>
            <p style="font-weight: 500;font-size: 16px;margin-top: 3px;">Inspection Management System</p>
            <!-- <p style="font-weight: 500;font-size: 16px;margin-top: 3px;">for</p> -->
            <p style="font-weight: ;font-size: 14px;margin-top: 3px;">Bangladesh Army</p>
          </div>
          <div class="col-2" style="text-align:center">
            <img src="@/assets/images/army.png" class="img-fluid" alt="" style="width: 70px;">
          </div>
      </div>
</template>
<script>
  export default {
  name: 'ReportHeading',
  props: ['id'],
  data () {
    return {}
  }
}
</script>
